<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>我的机器人</title>
</head>
<body>
<!--    <img src="/static/img/qr.png" width="300" height="300" />
    <p> 扫描上面二维码登录 </p>
    <hr>
-->
    {% for a in auto %}
        <p>是否自动回复：{{ a.auto }}</p>
    {% endfor %}
    <hr>
    {% for question in questions %}
        <h3> 问题： {{ question.content }}</h3>
        <p> 回答： {{ question.answer|truncatechars:30 }}</p>
    {% endfor %}
    <hr>
    {% for timer in timers %}
        <p> <b> 定时: </b> {{timer.time}} <b> 给: </b> {{timer.receiver}} <b> 发送: </b> {{timer.content}}。 <b> 重复时间每 </b> {{timer.recycle}} <b> 天 </b> </p>
    {% endfor %}
</body>
</html>

